*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #a49e9e;	
}
header{
	background-color: #a49e9e;
}
header ul{
	list-style-type:none;
	width:780px;
	margin:0 auto; 
}
header li{
	width:195px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-weight:bold;
	font-size:30px;
	float:left;
}
header img{
	clear:left;
	display:block;
	width:100%;
	height:500px;
}
h2{
	padding-top: 60px;
	padding-bottom: 40px;
	text-align: center;
	font-size: 40px;
}
.portfolio{
	background-color: #252354
}
.clearfix:after{
	display: block;
	clear: both;
	content:"";
}
.portfolio h2{
	font-color:white;
}
.portfolio ul{
	list-style-type:none;
	width:780px;
	margin:0 auto; 
}
.portfolio li{
	width:260px;
	height:300px;
	float:left; 
}
.portfolio img{
	width:200px;
	height:150px; 
}
.profile{
	width: 450px;
	margin:auto;
	padding-bottom: 40px;
	
}
.profile ul{
	list-style-type:none;
	float:right;
	width:200px;
	margin-left: 50px;
}
.profile ul p{
	font-weight: bold;
}
.top-img{
	width: 200px;
	height: 200px;
	float: left;
}
.twitter img{
	width:50px;
	height:50px;
}
.blog{
	background-color: #252354
}
.blog h2{
	font-color:white;
}
.blog ul{
	list-style-type:none;
	width:780px;
	margin:0 auto; 
}
.blog li{
	width:260px;
	height:300px;
	float:left; 
}
.blog img{
	width:200px;
	height:150px; 
}
.form{
	margin:0 auto;
	font-size: 20px;
	/*background-color: #a49e9e;*/
}
.form p{
	width:500px;

}		
.center{
	margin-left:160px; 
}
form{
	width: 380px;
	margin: 0 auto;

	padding-bottom: 60px;
}
#page-top{
	position:fixed;
	bottom:80px;
	right:60px;
}
#page-top a{
padding:15px 15px;
text-align:center;
letter-spacing:2px;
background:#efd97a;
color:#ffffff;
}
#page-top a:hover{
	background:#eccb3d;
}